.titulopagina {
    margin: 40px auto 5px;
    padding-left: 10px;
    width: 80%;
    font-size: 30pt;
    color: #8e3200;

}

h2 {

margin: 5px auto 25px;
padding-left: 10px;
width: 80%;
font-size: 15pt;
color: #8e3200;

}
main{
    width: 80%;
    margin: 40px auto 5px;
    padding-left: 10px;
}

.tituloartigo {
    margin: 40px auto 5px;
    padding-left: 10px;
    width: 40%;
    font-size: 30pt;
    color: #ffebc1;
}

main{
    width: 40%;
    margin: 40px auto 5px;
    padding-left: 10px;
}
